.signupbox{
    padding: 50px;
    color: #ffffff;
    background: black;
    top: 18%;
    left : 67%;
    position: fixed;
}
.clickme3{
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border-width: 0px;
    color: #ffffff;
    background-color: blueviolet;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
}
.bt1{
    margin: 5px 0px 10px 254px ;
}

.formtop{
	font-family: 'Abel', sans-serif;
    font-size: 40px;   
}
.formfield{
    font-size: 15px;
    margin-bottom: 3px;
	font-family: 'Quicksand', sans-serif;
}
.forminput{
    padding: 5px 10px 5px 10px;
    height: 35px;
    width: 400px;
    font-size: 18px;
    margin-bottom: 12px;
}
.seltype{
    color: #ffffff;
    background: #000000;
    height: 35px;
    width: 400px;
    font-size: 15px;
    margin-bottom: 12px;
}
select:focus{
    border: 3px solid blueviolet;
}

.signupbox input:focus{
    border: 3px solid blueviolet;
}